@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <!--=====Main Section====-->
<main class="flex-shrink-0">


    <div class="container py-5 px-5 mt-2">
        <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="dispay-5 fw-bold lh-1 mb-3">Mortgage Amortization Calculator</h1>
                <h4 class="lead">Code Utilized</h4>

                <ul class="fa-ul pt-2 checklist">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and BootStrap layout</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSharp Fundamentals</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSharp Loops</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSharp Functions</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Razor Pages</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Dependency Injection</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Http Requests</li>
                </ul>
                <div>
                    <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-area="" asp-page="/MortgageCalculator">Try It Out</a>
                </div>
                <h5 class="fw-bold mt-5">
                    <div class="d-flex">
                        <div class="row">
                            <div class="col"><i class="fab fa-js-square fa-2x jsicon"></i></div>
                            <div class="col"><i class="fab fa-bootstrap fa-2x bsicon"></i></div>
                            <div class="col"><i class="fab fa-html5 fa-2x html5icon"></i></div>
                            <div class="col"><i class="fab fa-css3-alt fa-2x cssicon"></i></div>
                            <div class="col"><i class="fa-csharp #12955"></i></div>

                        </div>
                    </div>
                </h5>
            </div>
            <div class="col">
                <img src="img/house.jpg" class="img-fluid center-block mx-auto" alt="App Logo" width="700" height="500">

                <p class="mt-2">The Mortgage Calculator helps estimate the monthly payment due along with other financial costs associated with mortgages. There are options to include extra payments or annual percentage increases of common mortgage-related expenses. The calculator is mainly intended for use by U.S. residents.</p>
            </div>
        </div>
    </div>
  
</main>

